Python Fundamentals for Machine Learning

In [1]:
p = int(input("\n Enter the principal Amt:"))
t = int(input("\n Enter the time period:"))
r = float(input("\n Enter the rate of int:"))
si = p*t*r/100
print("\n Simple Interest:",si)

 Enter the principal Amt:2000

 Enter the time period:3

 Enter the rate of int:12

 Simple Interest: 720.0

Output using Print

In [3]:
print('''This sentence is output to the screen''')
a=5
print("The value of a is:",a)
print('x:',1,2,3,4)
x = 2 ; y = 6
print('The value of x is {} and y is {}'.format(x,y))
print('I love {0} and {1}'.format('bat','ball'))
print('I love {1} and {0}'.format('bike','car'))

This sentence is output to the screen
The value of a is: 5
x: 1 2 3 4
The value of x is 2 and y is 6
I love bat and ball
I love car and bike

In [4]:
print('Hello {name}, {greeting}'.format(greeting = 'hows the weather today ?',name = 'alexa'))

Hello alexa, hows the weather today ?

In [5]:
x = 12.3456789
print('The value of x is %3.2f' %x)
print('The value of x is %3.4f' %x)

The value of x is 12.35
The value of x is 12.3457

In [6]:
for x in range(1, 11):
     print('{0:2d} {1:3d} {2:4d}'.format(x, x*x, x*x*x))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

In [7]:
table = {'Raju': 9480123526, 'Ravi': 9480123527, 'Rahul': 9480123528}
for name, phone in table.items():
     print('{0:10} ==> {1:10d}'.format(name, phone))

Raju       ==> 9480123526
Ravi       ==> 9480123527
Rahul      ==> 9480123528

In [8]:
import math
print('The value of PI is approximately %5.3f.' % math.pi)

The value of PI is approximately 3.142.

input using input

In [10]:
x = input('Enter a string: ')
print("The entered string is :{0}".format(x))
y = int(input('Enter a integer: '))
print("The entered integer is :",y)
z = float(input('Enter a floating point number:'))
print("The entered real number  is :",z)

Enter a string: cat
The entered string is :cat
Enter a integer: 10
The entered integer is : 10
Enter a floating point number:1.5
The entered real number  is : 1.5

# Mutiline Statements

In [11]:
x = ('1' + '2' +'3' + '4')

y = '1' + '2' + '11' + '12'
weekdays = ['Monday', 'Tuesday', 'Wednesday','Thursday', 'Friday']
weekday = {'one':'Monday'}
print ('x has value of', x)
print ('y has value of', y)
print(weekdays)
print(weekday)

x has value of 1234
y has value of 121112
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
{'one': 'Monday'}

In [15]:
import os;
x = 'Hiiii';
print(x)

Hiiii

Conditional statement

In [14]:
var = -1
if var < 0:
    print(var)
    print("value is negative")

if ( var == -1 ) : 
    print(" value is negative")

-1
value is negative
 value is negative

In [16]:
var = 1
if var < 0:
    print("value is negative")
    print(var)
else:
    print("value is positive")
    print(var)

value is positive
1

In [19]:
score = 60
if score >= 99:
    print('A')
elif score >=75:
    print('B')
elif score >= 60:
    print('C')
elif score >= 35:
    print('D')
else:
    print('F')

C

Iteration

In [20]:
c = 0
while (c <3):
    print(' c = ', c)
    c = c + 1

 c =  0
 c =  1
 c =  2

In [21]:
print(" Example")
letters = ['A', 'B', 'C']
for index in range(len(letters)):
    print('First loop letter :', letters[index])

 Example
First loop letter : A
First loop letter : B
First loop letter : C

Lists

In [37]:
list_1 = ['computer', 'Programming', 2019, 2020, 2021]
list_2 = ['a', 'b', 1, 2, 3, 4, 5, 6, 7 ]
print("list_1[0]: ", list_1[0])
print("list2_[1:5]: ", list_2[1:5])

list_1[0]:  computer
list2_[1:5]:  ['b', 1, 2, 3]

In [38]:
print("list_1 values: ", list_1)
list_1.append(2029)
print("list_1 values post append: ", list_1)

list_1 values:  ['computer', 'Programming', 2019, 2020, 2021]
list_1 values post append:  ['computer', 'Programming', 2019, 2020, 2021, 2029]

In [39]:
print("Values of list_1: ", list_1)
print("Index 2 value : ", list_1[2])
list_1[2] = 2022;
print("Index 2's new value : ", list_1[2])

Values of list_1:  ['computer', 'Programming', 2019, 2020, 2021, 2029]
Index 2 value :  2019
Index 2's new value :  2022

In [40]:
print("list_1 values: ", list_1)
del list_1[5];
print("After deleting value at index 2 : ")

list_1 values:  ['computer', 'Programming', 2022, 2020, 2021, 2029]
After deleting value at index 2 :

Tuples

In [44]:
Tuple = ()
print("Empty Tuple: ", Tuple)
Tuple = (1)
print("Tuple with single item: ", Tuple)
Tuple = ('a','b','c','d',1,2,3)
print("Sample Tuple :", Tuple)

Empty Tuple:  ()
Tuple with single item:  1
Sample Tuple : ('a', 'b', 'c', 'd', 1, 2, 3)

In [45]:
Tuple = ('a', 'b', 'c', 'd', 1, 2, 3)
print("3rd item ", Tuple[2])
print("First 3 items of Tuple", Tuple[0:5])

3rd item  c
First 3 items of Tuple ('a', 'b', 'c', 'd', 1)

In [46]:
try:
    print("Sample Tuple: ", Tuple)
    del Tuple
except:
    print(Tuple)

Sample Tuple:  ('a', 'b', 'c', 'd', 1, 2, 3)

In [48]:
Tuple = ('x','y','z','a',1,2,3)
print("Length of Tuple: ", len(Tuple))

Tupleconcat = Tuple + (7,8,9)
print("Concatinated Tuple: ", Tupleconcat)

print("Repetition: ", (1,'a',2, 'b') * 3)

print("Membership check: ", 3 in (1,2,3))

for x in (1, 2, 3): print(x)
    
print("Negative sign will retrieve item from right: ", Tupleconcat[-2])

print("Sliced Tuple [2:] ", Tupleconcat[2:])

print("Max value(1,2,3,4,5,6,7,8,9,10): ",max((1,2,3,4,5,6,7,8,9,10)))
print("Min value (1,2,3,4,5,6,7,8,9,10): ",min((1,2,3,4,5,6,7,8,9,10)))
print("List [1,2,3,4] converted to tuple: ", type(tuple([1,2,3,4])))

Length of Tuple:  7
Concatinated Tuple:  ('x', 'y', 'z', 'a', 1, 2, 3, 7, 8, 9)
Repetition:  (1, 'a', 2, 'b', 1, 'a', 2, 'b', 1, 'a', 2, 'b')
Membership check:  True
1
2
3
Negative sign will retrieve item from right:  8
Sliced Tuple [2:]  ('z', 'a', 1, 2, 3, 7, 8, 9)
Max value(1,2,3,4,5,6,7,8,9,10):  10
Min value (1,2,3,4,5,6,7,8,9,10):  1
List [1,2,3,4] converted to tuple:  <class 'tuple'>

Dictionary

In [49]:
dict = {'Name': 'abhi', 'Age': 21, 'Class': 'First'}
print("dictionary: ", dict)

dictionary:  {'Name': 'abhi', 'Age': 21, 'Class': 'First'}

In [51]:
print("Value of key Name, from dictionary:", dict['Name'])

Value of key Name, from dictionary: abhi

In [54]:
dict0 = {'Name': 'abhi', 'Age': 21, 'Class': 'First'}
print("dictionary: ", dict0)
k=1
for i in dict0:
    print(k,i,dict0[i])
    k=k+1
del (dict0['Name']) 

print("Sample dictionary post deletion of item Name:", dict0)

dict0 = {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}
dict0.clear() 
print("dict post dict.clear():", dict0)

dict = {'Name': 'athul', 'Age': 16, 'Class': 'First'}
del (dict0)

dictionary:  {'Name': 'abhi', 'Age': 21, 'Class': 'First'}
1 Name abhi
2 Age 21
3 Class First
Sample dictionary post deletion of item Name: {'Age': 21, 'Class': 'First'}
dict post dict.clear(): {}

In [56]:
dict = {'Name': 'abhi', 'Age': 21, 'Class': 'First'}
print("dictionary: ", dict)
dict['Age'] = 20
print("updated value", dict)

dictionary:  {'Name': 'abhi', 'Age': 21, 'Class': 'First'}
updated value {'Name': 'abhi', 'Age': 20, 'Class': 'First'}

In [57]:
dict = {'Name': 'adhitya', 'Age': 10, 'Class': 'First'}
print("Length of dict: ", len(dict))
dcopy = dict.copy()
print("Copy:",dcopy)
print("Value for Age: ", dict.get('Age'))
print("dict items: ", dict.items())

print("dict keys: ", dict.keys())

print("Value of dict: ", dict.values())

d1 = {'Name': 'abhi', 'Age': 21}
d2 = {'Sex': 'male' }
d1.update(d2)
print("dict1.update(dict2) = ", d1)

Length of dict:  3
Copy: {'Name': 'adhitya', 'Age': 10, 'Class': 'First'}
Value for Age:  10
dict items:  dict_items([('Name', 'adhitya'), ('Age', 10), ('Class', 'First')])
dict keys:  dict_keys(['Name', 'Age', 'Class'])
Value of dict:  dict_values(['adhitya', 10, 'First'])
dict1.update(dict2) =  {'Name': 'abhi', 'Age': 21, 'Sex': 'male'}

User difined func

In [58]:
def hello():
    print("Hello World")


hello()

Hello World

In [59]:
def add(x, y):
        return x + y


print(add(1,2))

3

In [60]:
x = 10

def add(y):
    return x + y
print(add(20))

30

In [61]:
def func(*args):
    for a in args:
        print(a)

func(1,2,3)

1
2
3

In [62]:
def func2(**args):
    for a in args:
        print(a, args[a])
func2(name='janu', age=10)

name janu
age 10

In [63]:
def func(x, y): 
    return x + y
print("function method :",func(70,89))

add = lambda x, y : x + y 
print("lambda method :",add(70,89))

function method : 159
lambda method : 159